body{background-color: rgb(199, 193, 193);}

.colorbox {
  padding:15px;
}

.rowone,
.rowthree,
.rowfour {
  height: 90px;
  display: flex;
  margin-bottom: 20px;
}

.rowfive {
  height: 60px;
  display: flex;
  margin-bottom: 20px;
}

.rowone .a {
  background: rgb(189, 10, 10);
  width: 30%;
  margin-right: 20px;
}

.rowone .b {
  background: rgb(28, 28, 158);
  width: 70%;
}

.rowtwo {
  height: 150px;
  background: rgb(170, 126, 5);
  margin-bottom: 20px;
}

.rowthree .a {
  background: rgb(12, 185, 12);
  width: 33%;
  margin-right: 20px;
}

.rowthree .b {
  background: rgb(150, 6, 150);
  width: 34%;
  margin-right: 20px;
}

.rowthree .c {
  width: 33%;
  background: rgb(82, 27, 185);
}

.rowfour .a {
  background: rgb(185, 67, 11);
  width: 50%;
  margin-right: 20px;
}

.rowfour .b {
  width: 50%;
  background: rgb(201, 172, 7);
}

.rowfive .a {
  background: rgb(20, 134, 5);
  width: 25%;
  margin-right: 20px;
}

.rowfive .b {
  background: rgb(28, 124, 233);
  width: 25%;
  margin-right: 20px;
}

.rowfive .c {
  background: rgb(148, 38, 4);
  width: 25%;
  margin-right: 20px;
}

.rowfive .d {
  width: 25%;
  background: rgb(8, 8, 206);
}

.rowsix {
  height: 30px;
  background: rgb(59, 17, 1);
}
/*tablet*/
@media screen and(min-width: 768px){
    .colorbox {
        width: 100%;
      }
}